<div class="header">
  <div class="header-image"></div>
  <div class="card-holder">
    <div class="container">
      <div class="card">

        <div class="profile">
          <img class="img-responsive d-none d-md-block" src="../../assets/image1.jpg" />
          <img class="img-responsive d-md-none" src="../../assets/image2.jpg" />
          <div class="slant"></div>
        </div>

        <div class="card-content">

          <div class="basic-info">
            <h4 class="text-uppercase">Ankan Poddar</h4>
            <h6 class="text-capitalize">Software Engineer &amp; Web Developer</h6>
          </div>

          <div class="contact-info">
            <ul class="profile-list">
              <li class="d-flex align-items-center">
                <span class="title"><i class="fas fa-envelope"></i></span>
                <span class="content">friendyankan@gmail.com</span>
              </li>
              <li class="d-flex align-items-center">
                <span class="title"><i class="fas fa-globe"></i></span>
                <span class="content">https://ankan17.github.io</span>
              </li>
              <li class="d-flex align-items-center">
                <span class="title"><i class="fab fa-github"></i></span>
                <span class="content">https://github.com/ankan17</span>
              </li>
              <li class="d-flex align-items-center">
                <span class="title"><i class="fas fa-phone"></i></span>
                <span class="content">+91 98045 17793</span>
              </li>
              <li class="d-flex align-items-center">
                <span class="title"><i class="fas fa-map-marker-alt"></i></span>
                <span class="content">C-35, Amarabati, Sodepur</span>
              </li>
            </ul>
          </div>

          <div class="contact-links">
            <a target="_blank" href="https://www.facebook.com/friendyankan" class="btn-floating indigo">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a target="_blank" href="https://twitter.com/PoddarAnkan" class="btn-floating blue">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://plus.google.com/101331497280009937677" class="btn-floating red">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/ankan-poddar-86a6b6163" class="btn-floating blue darken-3">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a target="_blank" href="https://github.com/ankan17" class="btn-floating elegant-color">
              <i class="fab fa-github"></i>
            </a>
          </div>

        </div>  <!-- Card content -->

      </div>  <!-- Card -->
    </div>  <!-- Container -->
  </div>  <!-- Card Holder -->
</div>  <!-- Header -->
