<div
  data-aos="fade-up"
  data-aos-duration="1500"
  data-aos-delay="500"
  data-aos-offset="50"
  data-aos-once="true"
  class="card-holder"
>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <p class="card-text">{{ about }}</p>
      </div>
      <div class="card-action">
        <a href="#" class="btn waves-effect">Download CV</a>
        <a href="#" class="btn waves-effect">Contact Me</a>
      </div>
    </div>  <!-- Card -->
  </div>  <!-- Container -->
</div>  <!-- Card Holder -->
