@import '../../variables.scss';

.card-holder {
  position: relative;
  top: 208px;

  .card {
    border-radius: 0;

    .card-body {
      padding: 0;

      .card-text {
        padding: 40px;
        border-bottom: 1px solid rgba(160, 160, 160, .2);
        color: rgb(97, 97, 97);
        font-size: 0.98rem;
        text-align: center;
      }
    }

    .card-action {
      padding: 20px;
      text-align: center;

      a.btn {
        margin: 7px 7px;
        background: $theme-color;
        color: $white;
        width: 180px;
        border-radius: 2px;
        font-size: 14px;
      }
    }
  }
}
