@import '../../variables.scss';

.card-holder {
  position: relative;
  margin-bottom: 70px;

  @media(max-width: $tablet-breakpoint) {
    margin-bottom: 30px;
  }

  .card {
    border-radius: 0;

    .card-body {
      padding: 0;

      .card-text {
        padding: 40px;
        border-bottom: 1px solid rgba(160, 160, 160, .2);
        color: rgb(97, 97, 97);
        font-size: 0.98rem;
        text-align: center;

        @media(max-width: $mobile-breakpoint) {
          padding: 25px;
          font-size: 0.85rem;
        }
      }
    }

    .card-action {
      padding: 20px;
      text-align: center;

      @media(max-width: $tablet-breakpoint) {
        padding: 15px;
      }

      a.btn {
        margin: 7px 7px;
        background: $theme-dark;
        color: $white;
        width: 180px;
        border-radius: 2px;
        font-size: 14px;
      }
    }
  }
}
