@import '../../variables.scss';


.container {
  margin-bottom: 50px;

  @media(max-width: $tablet-breakpoint) {
    margin-bottom: 25px;
  }

  .card {
    background: $theme-light;

    .card-content {
      padding: 40px;
      border-radius: 0 0 2px 2px;

      .skills-title {
        margin: 15px 0;
        @media(max-width: $small-desktop-breakpoint) {
          height: 50px;
          margin-top: 0;
          margin-bottom: 25px;
        }
        @media(max-width: $mobile-breakpoint) {
          margin: 15px 0;
          height: auto;
        }

        h6 {
          color: $white;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
          font-size: 1.4em;
        }
      }

      .skillbar {
        position: relative;
        display: block;
        margin-bottom: 17px;
        margin-top: 45px;
        width: 100%;
        padding: 0 0;
        background: #939393;
        height: 4px;
        -webkit-transition: 0.4s linear;
        transition: 0.4s linear;
        transition-property: all;
        -webkit-transition-property: width, background-color;
        transition-property: width, background-color;

        .skillbar-title {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 1em;

          span {
            display: block;
            padding: 3px 0;
            margin-top: -25px;
            line-height: 15px;
            color: #fff;
          }
        }

        .skillbar-bar {
          width: 0;
          height: 4px;
          background: $white;
        }

        .skill-bar-percent {
          position: absolute;
          right: 1px;
          top: -20px;
          font-size: .8em;
          line-height: 15px;
          color: $white;
        }
      }
    }
  }

}

@keyframes increaseWidth {
  0% { width: 0; }
  50% { width: 0; }
}
