<div class="container">
  <h4 class="text-uppercase text-center section-header">
    <img src="../../assets/skills.png" data-aos="fade-up" data-aos-duration="500" />
    Skills
  </h4>
  <div id="skills-card" class="card" data-aos="zoom-in-up" data-aos-easing="ease-out-cubic">
    <div class="card-content">
      <div class="row">
        <div *ngFor="let skillgroup of skillsInfo" class="col-md-4 col-sm-4 col-xs-12">
          <div class="skills-title">
            <h6 class="text-center">{{ skillgroup.title }}</h6>
          </div>
          <div *ngFor="let skill of skillgroup.skills" class="skillbar">
            <div class="skillbar-title"><span>{{ skill.name }}</span></div>
            <div class="skillbar-bar" [attr.skillbar-width]="skill.percent*10 + '%'"></div>
            <div class="skill-bar-percent">{{ skill.percent }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
