@import 'variables.scss';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  background-color: #f5f5f5;
  color: #616161;
}

.container {
  @media(min-width: $mobile-breakpoint) {
    max-width: 100%;
  }
  @media(min-width: $tablet-breakpoint) {
    max-width: 750px;
  }
  @media(min-width: $small-desktop-breakpoint) {
    max-width: 970px;
  }
  max-width: 1000px;
}
